#
# Requirement files for Python Virtual Environments
#

# Shell interface for docopt, the command-line interface description language
docopt

# KIWI - Appliance Builder API
kiwi

# YAML file parsing
PyYAML

# markup support
anymarkup

# xml parsing
lxml

schema

# Template engine used for producing config.kiwi
Jinja2
