# Manifest describing source package contents

graft kiwi_keg/changelog_generator
graft kiwi_keg/obs_service
graft package

include Makefile
include README.rst
include LICENSE
include tox.ini
include .bumpversion.cfg
include .virtualenv.requirements.txt
include .virtualenv.dev-requirements.txt

include .coverage*

recursive-include doc/build/man *

global-exclude *.py[cod] __pycache__
