<service name="compose_kiwi_description">
  <summary>Compose KIWI Image-Description from keg recipe</summary>
  <description>The service creates a KIWI description from a given keg recipe and commits it to the project</description>
  <parameter name="git-recipes">
    <description>Main git clone location to fetch keg recipes</description>
    <required/>
  </parameter>
  <parameter name="branch">
    <description>Branch in main git source [default: released]</description>
  </parameter>
  <parameter name="image-source">
    <description>Keg path in git source pointing to the image description. The path must be relative to the images/ directory</description>
    <required/>
  </parameter>
  <parameter name="disable-version-bump">
    <description>Do not increment the patch version number [default: False]</description>
  </parameter>
  <parameter name="disable-update-changelog">
    <description>Do not update changes.yaml [default: False]</description>
  </parameter>
  <parameter name="disable-update-revisions">
    <description>Do not update _keg_revisions [default: False]</description>
  </parameter>
</service>
