{% macro print_status(vars, ns) -%}
{% if vars and vars is not mapping -%}
# keg: included from {{ ns }}
{%- endif %}
{%- endmacro -%}
{% macro print_sysconf_cmds(vars, indent, ns) -%}
{% if vars -%}
{{ indent }}# keg: included from {{ ns }}
{% endif -%}
{% for var in vars -%}
{{ indent }}baseUpdateSysConfig {{ var['file'] }} {{ var['name'] }} "{{ var['value'] }}"
{% endfor -%}
{% endmacro -%}
{% macro print_service_cmds(vars, indent, ns) -%}
{% if vars -%}
{{ indent }}# keg: included from {{ ns }}
{% endif -%}
{% for var in vars -%}
{%   if var is string -%}
{%     set service_name = var -%}
{%     if service_name.endswith(".timer") -%}
{%       set cmd = "systemctl enable" -%}
{%     else -%}
{%       set cmd = "suseInsertService" -%}
{%     endif -%}
{%   else -%}
{%     set service_name = var['name'] -%}
{%     if var['enable'] -%}
{%       set cmd = "suseInsertService" -%}
{%     else -%}
{%       set cmd = "suseRemoveService" -%}
{%     endif -%}
{%   endif -%}
{{ indent }}{{ cmd }} {{ service_name }}
{% endfor -%}
{% endmacro -%}
#!/bin/bash
#================
# FILE          : images.sh
#----------------
# PROJECT       : openSUSE KIWI Image System
# COPYRIGHT     : (c) 2020 SUSE LLC. All rights reserved
#               : 
# AUTHOR        : {{ data['image']['author'] }} {{ data['image']['contact'] }}
#               :
# BELONGS TO    : Operating System images
#               :
# DESCRIPTION   : OS configuration script
#               :
#               :
# STATUS        : Production
#----------------
#======================================
# Functions...
#--------------------------------------
test -f /.kconfig && . /.kconfig
test -f /.profile && . /.profile

#======================================
# Fail build on error
#--------------------------------------
set -e

{% set common_profile = data['profiles']['common'] %}

{%- if common_profile and common_profile['config'] %}
{%- for ns in common_profile['config']['image_script']['sysconfig'] %}
{{ print_sysconf_cmds(common_profile['config']['image_script']['sysconfig'][ns], "", ns) }}
{%- endfor %}

{%- for ns in common_profile['config']['image_script']['files'] %}
{{print_status(common_profile['config']['image_script']['files'][ns], ns)-}}
{%- for filespec in common_profile['config']['image_script']['files'][ns] %}
cat >{{ keg_funcs.ternary(filespec['append'], '>') }} {{ filespec['path'] }} <<EOF
{{ filespec['content'] }}
EOF
{% endfor %}
{%- endfor %}

{%- for ns in common_profile['config']['image_script'] %}
{{print_status(common_profile['config']['image_script'][ns], ns)-}}
{%- for script_name in common_profile['config']['image_script'][ns] %}
{{ scripts[script_name] -}}
{%- endfor -%}
{%- endfor -%}

{%- for ns in common_profile['config']['image_script']['services'] %}
{{ print_service_cmds(common_profile['config']['image_script']['services'][ns], "", ns) }}
{%- endfor -%}

{%- endif -%}

{%- for profile, profile_data in data['profiles'].items() %}

{%- if profile != "common" and profile_data['config'] %}
if [[ $kiwi_profiles = {{ profile }} ]]; then
    {%- for ns in profile_data['config']['image_script']['sysconfig'] %}
{{ print_sysconf_cmds(profile_data['config']['image_script']['sysconfig'][ns], "    ", ns) }}
    {%- endfor %}

    {%- for ns in profile_data['config']['image_script']['files'] %}
    {{print_status(profile_data['config']['image_script']['files'][ns], ns)-}}
    {%- for filespec in profile_data['config']['image_script']['files'][ns] %}
    cat >{{ keg_funcs.ternary(filespec['append'], '>') }} {{ filespec['path'] }} <<EOF
{{ filespec['content'] }}
EOF
    {% endfor %}
    {%- endfor %}

    {%- for ns in profile_data['config']['image_script'] %}
    {{print_status(profile_data['config']['image_script'][ns], ns)-}}
    {%- for script_name in profile_data['config']['image_script'][ns] %}
{{ scripts[script_name]|string|indent(4, true) }}
    {%- endfor %}
    {%- endfor %}

    {%- for ns in profile_data['config']['image_script']['services'] %}
{{ print_service_cmds(profile_data['config']['image_script']['services'][ns], "    ", ns) }}
    {%- endfor -%}
fi
{% endif -%}
{%- endfor -%}

